<div class="container-fluid silver pull-left">
  <img src="assets/image.jpg">
  <div class="container-fluid pull-right" id="about">
	<h1>Hey, I'm Gregory Wojda.</h1>
	</br>
	<h4>You are on my demo blog application build in 
	  <a href="http://guides.rubyonrails.org/5_0_release_notes.html">Rails 5</a>.
	</h4>
  <h4>This app in on my <a href="https://github.com/GeoGri/Ruby-on-Rails-5-Blog_app">Git</a> account, so if you want to see the </h4>
  <h4>code go there.</h4>
  </br>
  <h4>If you like my app and you are interested cooperate with me, just click </h4>
  <h4>one of the social media links and contact with me, or write a message to </h4>
  <h4>me on <span>grzegorz1wojda@gmail.com</span>.</h4>
  </div>
</div>