@import "bootstrap-sprockets";
@import "bootstrap";
@import "normalize";


html, body, .container {
  height: 100%;
}
.container {
  display: table;
  padding: 0;
  width: 100%;
}
.row {
  height: 100%;
  display: table-row;
}

  /* colors */
$light-silver: #E7E7E7;
$silver: #777;
$dark: #333;
$blue: #2FAACE;
$blue-dark: #198BAE;
$nav-background: #F8F8F8;

/* application */
.border-bottom {
	border-bottom: 0.8px solid $light-silver;
}
.border-top {
	border-top: 0.8px solid $light-silver;
}
.right {
  float: right;
}
.left {
  float: left;
}
.silver {
  color: $silver;
}
.blue, .blue:hover {
  color: $blue !important;
  text-decoration: none;
  &:hover {
    color: $blue-dark !important;
    text-decoration: none;
  }
}
.btn-primary {
  background-color: $blue;
  float: right;
  margin: 10px;
  &:hover {
    background-color: $blue-dark
  }
}

/* navbar */
#nav_name:hover {
  color: $silver;
}

/* post controller */
#post {
  h1, h5 {
    color: $silver;
    padding-left: 10px;
  	a {
  	  color: $silver;
  	  &:hover {
  	    color: $dark;
  		text-decoration: none;
  	  }
  	}
  }
}

/* comment controller */
.post_show{
  color: $silver;
}
.c_dark {
  color: $dark;
}
#name {
	float: right;
}




.col-md-2 {
  height: 100%;
  padding-right: 0;
  position: relative;
}
.col-md-10 {
  padding: 0px
}
.nav-top {
  border-left: none !important;
  border-radius: 0 !important;
}
/* left navbar */
#nav-left {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%; 
  width: 100%;
  background-color: $nav-background;
  border-right: 0.8px solid $light-silver;
  table {
    width: 100%;
    tr {
      color: $silver;
      td {

        a {
          color: $silver;
          &:hover {
            color: $dark;
            text-decoration: none;
          }
        }
      }
      th {
        h3 {
          color: $blue;
        }
      }
    }


    tr th, tr td {
      float: right;
    }
    tr th{
      padding: 50px 20px 14px 0;
    }
    tr td{
      padding: 15px;
    }
  }
}

/* About */
#about {
  h1 {
    color: $dark;
  }
  h4 {
    a {
      color: $blue;
      &:hover {
        color: $blue-dark;
        text-decoration: none;
      }
    }
    span {
      color: $blue;
    }
  }
}