@import "bootstrap-sprockets";
@import "bootstrap";
@import "normalize";

  /* colors */
$light-silver: #E7E7E7;
$silver: #777;
$dark: #333;
$blue: #2FAACE;
$blue-dark: #198BAE;
$nav-background: #F8F8F8;

/* application */
.col-md-10 {
  padding-left: 0px
}
.col-md-2 {
  position: relative;
}
.border-bottom {
	border-bottom: 0.8px solid $light-silver;
}
.border-top {
	border-top: 0.8px solid $light-silver;
}
.right {
  float: right;
}
.left {
  float: left;
}
.silver {
  color: $silver;
}
.blue, .blue:hover {
  color: $blue !important;
  text-decoration: none;
}
.btn-primary {
  background-color: $blue;
  float: right;
  margin: 10px;
  &:hover {
    background-color: $blue-dark
  }
}

/* navbar */
#nav_name:hover {
  color: $silver;
}

/* post controller */
#post {
  h1, h5 {
    color: $silver;
    padding-left: 10px;
  	a {
  	  color: $silver;
  	  &:hover {
  	    color: $dark;
  		text-decoration: none;
  	  }
  	}
  }
}

/* comment controller */
.post_show{
  color: $silver;
}
.c_dark {
  color: $dark;
}
#name {
	float: right;
}

.col-md-2 {
  padding-right: 0;
}

/* left navbar */
.navbar-fixed-left {
  width: 140px;
  position: fixed;
  border-radius: 0;
  height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 139px;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}