
<div class="navbar navbar-default navbar-fixed-left">
  <a class="navbar-brand blue" href="#">Website</a>
  <ul class="nav navbar-nav">
   <li><a href="#">Posts</a></li>
   <li><a href="#">About</a></li>
  </ul>
  <a class="navbar-brand blue" href="#">Socialmedia</a>
  <ul class="nav navbar-nav">
    <li><a href="#">Facbook</a></li>
    <li><a href="#">Github</a></li>
    <li><a href="#">Linked In</a></li>
    <li><a href="#">Google</a></li>
  </ul>
</div>