<div id="nav-left">
  <table class="h4">
  	<tr><th><h3>Website</h3></th></tr>
    <%= render "layouts/website_links" %>
  	<tr><th><h3>Social media</h3></th></tr>
  	<tr><td><a href="https://pl-pl.facebook.com/public/Grzegorz-Janusz-Wojda">Facebook</a></td></tr>
  	<tr><td><a href="https://github.com/GeoGri">Github</a></td></tr>
  	<tr><td><a href="https://www.linkedin.com/in/grzegorz-wojda-673058b9/">LinkedIn</a></td></tr>
  	<tr><td><a href="https://plus.google.com/108704893739736467557">Google</a></td></tr>  	
  </table>
</div>