<nav class="navbar navbar-default nav-top">
  <div class="container-fluid">
    <div class="navbar-header">
	  	<%= render "layouts/navigation_header" %>
    </div>
      <%= render "layouts/loging_links" %>
  </div>
</nav>