<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/rails_defoult' %>
  </head>

  <body>
  	<div class="container">
  	  <div class="row">
  		<div class="col-md-2">
  			<!-- TODO -->
  		</div>
  		<div class="col-md-10">
      	  <%= render 'layouts/navigation_bar' %>
      	  <%= yield %>	
  		</div>	
  	  </div>
  	</div>
  </body>
</html>
